$colors: (
    common: (
        white: #fff,
        black: #181818,

    ),
    body: (
        heading: #0A111C,
        text: #605F62,
    ),

    theme: (
        primary: #CF0000,

    ),
    bg: (
        dark: #EDEDED,
        gray: #605F62,
        light: #F6F6F6,
    )
)