// Font Family 
$barlow: 'Barlow', sans-serif;
$openSans: 'Open Sans', sans-serif;

// Responsive Variables
$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: '(max-width: 1599px)';
$xl: '(max-width: 1399px)';
$lg: '(max-width: 1199px)';
$md:'(max-width: 991px)';
$sm: '(max-width: 767px)';
$xs:'(max-width: 576px)';